[Unit]
Description=gunicorn serves the Flask app
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
Restart=always
RestartSec=1
User=pi
ExecStart=cd ~/rpi-home
ExecStart=source venv/bin/activate
ExecStart=gunicorn server:app -b 0.0.0.0:5000

[Install]
WantedBy=multi-user.target