[Unit]
Description=Monitor PWM input and send PWM output
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=60
User=pi
ExecStart=python3 /home/pi/rpihome/pwm.py

[Install]
WantedBy=multi-user.target
