[Unit]
Description=Monitor PWM input and send PWM output
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=60
User=pi
ExecStart=cd /home/pi/rpihome && python3 pwm.py

[Install]
WantedBy=multi-user.target
